@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Josefin Sans";
  color: #0d0d0d;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

body {
  background: #fff;
}
body #header {
  width: 100%;
  height: 100px;
  position: relative;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.05), rgb(51, 51, 51));
  z-index: 10;
}
body #header .inner {
  width: 1180px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
body #header .inner > h1 {
  position: absolute;
  width: 140px;
  left: 0;
  bottom: 10px;
}
body #header .inner > h1 > a {
  display: block;
  width: 100%;
  height: 70px;
}
body #header .inner > h1 > a img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 10px;
  filter: invert(100%);
}
body #header .inner > h1 > a span {
  display: inline-block;
  font-size: 18px;
  position: absolute;
  top: 35px;
  color: #fff;
}
body #header .inner .menuWeb #gnb {
  position: absolute;
  right: 0;
  bottom: 0;
}
body #header .inner .menuWeb #gnb li {
  float: left;
}
body #header .inner .menuWeb #gnb li a {
  display: block;
  padding: 14px 30px;
  font: bold 18px/1 "Josefin Sans";
  color: #fff;
  text-shadow: 0px 0px 10px #000;
}
body #header .inner .menuWeb #gnb li a:hover {
  background-color: #fff;
  color: #333;
  text-shadow: none;
}
body #visual {
  position: relative;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
}
body #visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 80%;
  opacity: 0.8;
}
body #visual .inner {
  width: 1180px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body #visual .inner h2 {
  font: normal 70px/1 "Josefin Sans";
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 0px 0px 10px #000;
}
body #visual .inner p {
  font: normal 20px/1 "arial";
  color: #ddd;
  margin-bottom: 80px;
}
body #visual .inner a {
  display: block;
  width: 160px;
  height: 40px;
  border-left: 15px solid #04ADBF;
  font: bold 18px/40px "Josefin Sans";
  color: #fff;
  margin: 0 auto;
  text-align: center;
  transition: 0.3s;
}
body #visual .inner a:hover {
  border-left: 15px solid #fff;
}
body::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 800px;
  top: 100vh;
  right: 0;
  background: rgba(4, 173, 191, 0.3);
  z-index: -10;
}
body #event {
  width: 100%;
  padding: 20px 0 120px;
  position: relative;
  overflow: hidden;
}
body #event .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
body #event .inner div.left {
  width: 480px;
  margin-right: 20px;
}
body #event .inner div.left h3 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #0d0d0d;
}
body #event .inner div.left h2 {
  font-size: 100px;
  margin-bottom: 60px;
  color: #04ADBF;
}
body #event .inner div.left p {
  width: 20vw;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.4;
  color: #888;
}
body #event .inner div.left a {
  display: block;
  float: left;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
body #event .inner div.left a.btnPrev {
  margin-right: 2vw;
}
body #event .inner div.right {
  width: 680px;
}
body #event .inner div.right h3 span {
  display: block;
  margin-bottom: 40px;
}
body #event .inner div.right .wrap {
  width: 1260px;
  position: relative;
}
body #event .inner div.right .wrap article {
  width: 24%;
  margin-right: 16px;
  float: left;
}
body #event .inner div.right .wrap article a {
  display: block;
}
body #event .inner div.right .wrap article a img {
  width: 300px;
  height: 245px;
  object-fit: cover;
}
body #event .inner div.right .wrap article:nth-of-type(4) {
  margin-right: 0px;
}
body #banner {
  width: 100%;
  position: relative;
  padding: 100px 0;
  margin: 20px 0;
  background: url(../img/accommodationBg.jpg) no-repeat left center fixed;
  background-size: 50%;
}
body #banner .inner {
  border: 1px solid blue;
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
body #banner .inner .wrap {
  float: right;
  width: 50%;
  height: 400px;
  padding: 90px;
  background: #fff;
  text-align: right;
}
body #banner .inner .wrap h2 {
  font: bold 30px/1 "Josefin Sans";
  padding-bottom: 25px;
}
body #banner .inner .wrap p {
  font: normal;
}
body #banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #f5f5f5;
  z-index: -10;
}

/*# sourceMappingURL=style.css.map */
