@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: 0;
}

body {
  font-family: "Josefin Sans";
  color: #0d0d0d;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

body {
  background: #fff;
}
body #header {
  width: 100%;
  height: 100px;
  position: relative;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.05), rgb(51, 51, 51));
  z-index: 10;
}
body #header .inner {
  width: 1180px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
body #header .inner > h1 {
  position: absolute;
  width: 140px;
  left: 0;
  bottom: 10px;
}
body #header .inner > h1 > a {
  display: block;
  width: 100%;
  height: 70px;
}
body #header .inner > h1 > a img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 10px;
  filter: invert(100%);
}
body #header .inner > h1 > a span {
  display: inline-block;
  font-size: 18px;
  position: absolute;
  top: 35px;
  color: #fff;
}
body #header .inner .menuWeb #gnb {
  position: absolute;
  right: 0;
  bottom: 18px;
}
body #header .inner .menuWeb #gnb li {
  float: left;
}
body #header .inner .menuWeb #gnb li a {
  display: block;
  padding: 12px 30px;
  font: bold 18px/1 "Josefin Sans";
  color: #fff;
  text-shadow: 0px 0px 10px #000;
}
body #header .inner .menuWeb #gnb li a:hover {
  background-color: #fff;
  color: #333;
  text-shadow: none;
}
body #header .inner .btnMenu {
  display: none;
  width: 50px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
body #header .inner .btnMenu.on::before {
  top: 50%;
  margin-top: -2px;
  transform: rotate(45deg);
}
body #header .inner .btnMenu.on::after {
  bottom: 50%;
  margin-bottom: -2px;
  transform: rotate(-45deg);
}
body #header .inner .btnMenu.on span {
  opacity: 0;
}
body #header .inner .btnMenu::before, body #header .inner .btnMenu::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #fff;
  position: absolute;
  left: 0;
  border-radius: 4px;
}
body #header .inner .btnMenu::before {
  top: 0;
  transition: top 0.5s;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
body #header .inner .btnMenu::after {
  bottom: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
body #header .inner .btnMenu span {
  display: block;
  width: 100%;
  height: 4px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2px;
  text-indent: -99999px;
  border-radius: 4px;
  transition: all 0.5s;
}
body #header .inner .menuMo {
  display: none;
  position: fixed;
  top: 0;
  width: 270px;
  height: 100vh;
  background: #b3e6ec;
  padding: 0 2vh;
  left: -270px;
  transition: 0.5s;
}
body #header .inner .menuMo.on {
  left: 0px;
}
body #header .inner .menuMo > h1 {
  position: relative;
  width: 100%;
  height: 100px;
  padding-top: 20px;
  padding-left: 50px;
  margin-bottom: 25px;
}
body #header .inner .menuMo > h1 > a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
body #header .inner .menuMo > h1 > a img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 10px;
}
body #header .inner .menuMo > h1 > a span {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  position: absolute;
  top: 35px;
  color: #0d0d0d;
}
body #header .inner .menuMo #gnbMo {
  position: relative;
}
body #header .inner .menuMo #gnbMo li {
  border-bottom: 1px solid #04ADBF;
}
body #header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 3vh 0 2vh;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #0d0d0d;
}
body #header .inner .menuMo #gnbMo li a b {
  float: right;
  padding-right: 1vw;
}
body #visual {
  position: relative;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
}
body #visual div:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
body #visual div:nth-of-type(1) img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 80%;
  opacity: 0.9;
  animation: visualAni 5s infinite;
}
body #visual div:nth-of-type(1) img:nth-child(2) {
  display: none;
}
body #visual .inner {
  width: 1180px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body #visual .inner h2 {
  font: normal 70px/1 "Josefin Sans";
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 0px 0px 10px #000;
}
body #visual .inner p {
  font: normal 20px/1 "arial";
  color: #eee;
  margin-bottom: 80px;
}
body #visual .inner a {
  display: block;
  position: relative;
  width: 200px;
  height: 40px;
  font: bold 18px/40px "Josefin Sans";
  color: #fff;
  margin: 0 auto;
  text-align: center;
  transition: 0.3;
}
body #visual .inner a:hover {
  color: #04ADBF;
}
body #visual .inner a::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 40px;
  background: #04ADBF;
  transition: 0.3s;
  z-index: -1;
}
body #visual .inner a:hover::before {
  background: #fff;
  width: 200px;
}
body::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 1200px;
  top: 100vh;
  right: 0;
  background: #b3e6ec;
  z-index: -10;
}
body #event {
  width: 100%;
  padding: 50px 0 150px;
  position: relative;
  overflow: hidden;
}
body #event .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
body #event .inner div.left {
  width: 480px;
  margin-right: 20px;
}
body #event .inner div.left h3 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #555;
}
body #event .inner div.left h2 {
  font-size: 100px;
  margin-bottom: 60px;
  color: #04ADBF;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
}
body #event .inner div.left p {
  width: 20vw;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.4;
  color: #888;
}
body #event .inner div.left a {
  border: 1px solid red;
  display: block;
  float: left;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
body #event .inner div.left a.btnPrev {
  margin-right: 2vw;
}
body #event .inner div.right {
  width: 680px;
}
body #event .inner div.right > p {
  width: 100%;
  padding: 0px 0px 35px 180px;
  font-size: 30px;
  font-weight: bold;
}
body #event .inner div.right .wrap {
  width: 1280px;
  height: 340px;
  position: relative;
}
body #event .inner div.right .wrap article {
  width: 300px;
  height: 100%;
  margin-right: 20px;
  float: left;
}
body #event .inner div.right .wrap article a {
  display: block;
  width: 100%;
  height: 100%;
}
body #event .inner div.right .wrap article a .imgEvent {
  width: 100%;
  height: 280px;
}
body #event .inner div.right .wrap article a .imgEvent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body #event .inner div.right .wrap article a .imgEvent span {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 5px #0d0d0d;
  padding: 10px 10px;
  left: 0;
  top: -50px;
}
body #event .inner div.right .wrap article a .txtEvent {
  background: #fff;
  position: relative;
  padding: 20px;
  color: #0d0d0d;
}
body #event .inner div.right .wrap article a .txtEvent h3 {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
}
body #event .inner div.right .wrap article a .txtEvent p {
  width: 100%;
  font-size: 16px;
  line-height: 1.2;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
body #event .inner div.right .wrap article a:hover .txtEvent {
  background: #fff;
}
body #event .inner div.right .wrap article a:hover .txtEvent p {
  overflow: visible;
  max-height: 100vh;
  background: #fff;
}
body #banner {
  width: 100%;
  position: relative;
  padding: 150px 0;
  margin: 20px 0;
  background: url(../img/bannerBg.jpg) no-repeat left center fixed;
  background-size: 50%;
}
body #banner .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
body #banner .inner .wrap {
  float: right;
  width: 50%;
  padding: 100px 80px 100px 100px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
body #banner .inner .wrap h2 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 25px;
}
body #banner .inner .wrap p {
  font: normal 18px/1.4 "Josefin Sans";
  color: #888;
}
body #banner .inner .wrap p:nth-of-type(1) {
  margin-bottom: 20px;
}
body #banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #f5f5f5;
  z-index: -10;
}
body #accommodation {
  width: 100%;
  padding: 150px 0;
}
body #accommodation .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
body #accommodation .inner h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
body #accommodation .inner .wrap {
  width: 100%;
}
body #accommodation .inner .wrap article:nth-of-type(1), body #accommodation .inner .wrap article:nth-of-type(2), body #accommodation .inner .wrap article:nth-of-type(3), body #accommodation .inner .wrap article:nth-of-type(4) {
  float: left;
}
body #accommodation .inner .wrap article:nth-of-type(2), body #accommodation .inner .wrap article:nth-of-type(3), body #accommodation .inner .wrap article:nth-of-type(4) {
  position: relative;
  cursor: pointer;
}
body #accommodation .inner .wrap article:nth-of-type(2) div, body #accommodation .inner .wrap article:nth-of-type(3) div, body #accommodation .inner .wrap article:nth-of-type(4) div {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
body #accommodation .inner .wrap article:nth-of-type(2) div img, body #accommodation .inner .wrap article:nth-of-type(3) div img, body #accommodation .inner .wrap article:nth-of-type(4) div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.8s;
}
body #accommodation .inner .wrap article:nth-of-type(2) h3, body #accommodation .inner .wrap article:nth-of-type(3) h3, body #accommodation .inner .wrap article:nth-of-type(4) h3 {
  position: absolute;
  padding: 30px 20px;
  bottom: 0;
  left: 0;
  font-size: 25px;
  color: #fff;
  z-index: 3;
}
body #accommodation .inner .wrap article:nth-of-type(2):hover img, body #accommodation .inner .wrap article:nth-of-type(3):hover img, body #accommodation .inner .wrap article:nth-of-type(4):hover img {
  scale: 1.1;
}
body #accommodation .inner .wrap article:nth-of-type(2)::before, body #accommodation .inner .wrap article:nth-of-type(3)::before, body #accommodation .inner .wrap article:nth-of-type(4)::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(245, 245, 245, 0.11);
  z-index: 1;
}
body #accommodation .inner .wrap article:nth-of-type(2)::after, body #accommodation .inner .wrap article:nth-of-type(3)::after, body #accommodation .inner .wrap article:nth-of-type(4)::after {
  content: "";
  display: block;
  width: 100%;
  height: 33%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgb(51, 51, 51), rgba(51, 51, 51, 0.05));
  z-index: 2;
}
body #accommodation .inner .wrap article:nth-of-type(1) {
  width: 380px;
  height: 620px;
  position: relative;
  margin-right: 20px;
  padding: 120px 50px;
  background: #f5f5f5;
  text-align: center;
}
body #accommodation .inner .wrap article:nth-of-type(1) h3 {
  font-size: 25px;
  margin-bottom: 30px;
  color: #04ADBF;
}
body #accommodation .inner .wrap article:nth-of-type(1) p {
  font-size: 18px;
  line-height: 1.4;
  color: #555;
  margin-bottom: 50px;
}
body #accommodation .inner .wrap article:nth-of-type(1) a {
  display: block;
  width: 150px;
  height: 40px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  font: bold 18px/40px "Josefin Sans";
  color: #0d0d0d;
  transition: 0.3s;
  z-index: 2;
}
body #accommodation .inner .wrap article:nth-of-type(1) a:hover {
  color: #fff;
}
body #accommodation .inner .wrap article:nth-of-type(1) a::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 40px;
  background: #04ADBF;
  transition: 0.3s;
  z-index: -1;
}
body #accommodation .inner .wrap article:nth-of-type(1) a:hover::before {
  background: #04ADBF;
  width: 150px;
}
body #accommodation .inner .wrap article:nth-of-type(2) {
  width: 380px;
  height: 300px;
  margin-right: 20px;
}
body #accommodation .inner .wrap article:nth-of-type(3) {
  width: 380px;
  height: 300px;
}
body #accommodation .inner .wrap article:nth-of-type(4) {
  width: 780px;
  height: 300px;
  margin-top: 20px;
}
body #deals {
  width: 100%;
  position: relative;
}
body #deals::before {
  content: "";
  display: block;
  width: 33.33%;
  height: 100%;
  position: absolute;
  background: #b3e6ec;
  z-index: -1;
  top: 0;
  left: 0;
}
body #deals::after {
  content: "";
  display: block;
  width: 66.67%;
  height: 100%;
  position: absolute;
  background: #f5f5f5;
  z-index: -1;
  top: 0;
  right: 0;
}
body #deals .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
body #deals .inner div {
  position: relative;
}
body #deals .inner div:nth-of-type(1) {
  float: left;
  width: 18%;
  height: 100%;
  padding: 100px 0px;
}
body #deals .inner div:nth-of-type(1) span {
  display: inline-block;
  font: bold 1.4vw/1.4 "Josefin Sans";
  margin-bottom: 20px;
  color: #555;
}
body #deals .inner div:nth-of-type(1) h2 {
  font-size: 2vw;
  margin-bottom: 20px;
  line-height: 1.4;
}
body #deals .inner div:nth-of-type(1) p {
  font-size: 1.3vw;
  color: #666;
}
body #deals .inner div:nth-of-type(2) {
  position: relative;
  float: left;
  width: 80%;
  height: 100%;
  padding: 100px 0px;
  display: flex;
  justify-content: flex-end;
}
body #deals .inner div:nth-of-type(2) article {
  padding-left: 5%;
  width: 44%;
}
body #deals .inner div:nth-of-type(2) article b {
  display: inline-block;
  font: normal 14px/1 "arial";
  color: #555;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
body #deals .inner div:nth-of-type(2) article h3 {
  font-size: 1.4vw;
  margin-bottom: 20px;
  color: #04ADBF;
}
body #deals .inner div:nth-of-type(2) article p {
  font-size: 1.2vw;
  line-height: 1.4;
  margin-bottom: 30px;
  color: #0d0d0d;
}
body #deals .inner div:nth-of-type(2) article span {
  font-size: 1vw;
  color: #888;
}
body #footer {
  width: 100%;
  position: relative;
  background: #04ADBF;
  padding: 100px 0;
}
body #footer .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
body #footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
body #footer .inner .footNavWrap {
  position: relative;
}
body #footer .inner .footNavWrap h1 {
  width: 140px;
  height: 70px;
  float: left;
  margin-right: 80px;
}
body #footer .inner .footNavWrap h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
body #footer .inner .footNavWrap h1 a img {
  width: 70px;
  height: 100%;
  float: left;
  margin-right: 10px;
  filter: invert(100%);
}
body #footer .inner .footNavWrap h1 a span {
  display: inline-block;
  font-size: 18px;
  position: absolute;
  top: 35px;
  color: #fff;
}
body #footer .inner .footNavWrap nav {
  float: left;
  width: 67%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  color: #fff;
}
body #footer .inner .footNavWrap nav div {
  width: 33.33%;
}
body #footer .inner .footNavWrap nav div h4 {
  font-size: 14px;
  margin-bottom: 20px;
}
body #footer .inner .footNavWrap nav div:nth-of-type(1) span {
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 3px;
  font-size: 12px;
}
body #footer .inner .footNavWrap nav div:nth-of-type(1) span:nth-of-type(1) {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 14px;
}
body #footer .inner .footNavWrap nav div:nth-of-type(1) > p {
  margin-top: 20px;
  font-size: 12px;
  padding-right: 30px;
  color: #eee;
}
body #footer .inner .footNavWrap nav div:nth-of-type(2) ul, body #footer .inner .footNavWrap nav div:nth-of-type(3) ul {
  width: 100%;
  padding: 0;
}
body #footer .inner .footNavWrap nav div:nth-of-type(2) ul li, body #footer .inner .footNavWrap nav div:nth-of-type(3) ul li {
  width: 100%;
  margin-left: 0;
}
body #footer .inner .footNavWrap nav div:nth-of-type(2) ul li a, body #footer .inner .footNavWrap nav div:nth-of-type(3) ul li a {
  display: block;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}
body #footer .inner .footNavWrap nav div:nth-of-type(2) {
  padding-left: 50px;
  margin-right: 20px;
}
body #footer .inner .footNavWrap > ul {
  float: right;
  padding: 15px 0;
}
body #footer .inner .footNavWrap > ul li {
  float: left;
  margin-left: 20px;
}
body #footer .inner .footNavWrap > ul li a {
  font-size: 25px;
  color: #fff;
}
body #footer .inner .footAddWrap {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
body #footer .inner .footAddWrap address {
  position: relative;
  margin: 0 auto;
  padding: 30px 0 10px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #eee;
  text-align: center;
}
body #footer .inner .footAddWrap address::after {
  content: "";
  display: block;
  position: absolute;
  margin: 10px auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  background: #fff;
}
body #footer .inner .footAddWrap > p {
  float: left;
  width: 100%;
  font-size: 12px;
  line-height: 1.4;
  font-family: "arial";
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}
@keyframes visualAni {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.2;
  }
}

@media screen and (max-width: 1179px) {
  body #header .inner {
    width: 100%;
    height: 100px;
  }
  body #header .inner > h1 {
    left: 50px;
  }
  body #header .inner .menuWeb #gnb {
    right: 2%;
  }
  body #header .inner .menuWeb #gnb li a {
    font: bold 15px/1 "Josefin Sans";
    text-shadow: 0px 0px 5px #000;
  }
  body #visual .inner {
    width: 100%;
  }
  body #visual .inner h2 {
    font: normal 50px/1 "Josefin Sans";
    text-shadow: 0px 0px 5px #000;
  }
  body #visual .inner p {
    font: normal 16px/1 "arial";
  }
  body #visual .inner a {
    height: 30px;
    font: bold 16px/30px "Josefin Sans";
  }
  body #visual .inner a::before {
    height: 30px;
  }
  body::after {
    height: 800px;
  }
  body #event {
    padding: 20px 0 100px;
  }
  body #event .inner {
    width: 100%;
    padding: 0% 10%;
  }
  body #event .inner div.left {
    width: 36%;
  }
  body #event .inner div.left h3 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  body #event .inner div.left h2 {
    font-size: 80px;
    margin-bottom: 30px;
  }
  body #event .inner div.left p {
    width: 25vw;
    margin-bottom: 30px;
    font-size: 14px;
  }
  body #event .inner div.right {
    width: 64%;
  }
  body #event .inner div.right > p {
    font-size: 20px;
  }
  body #event .inner div.right .wrap {
    width: 840px;
    height: 250px;
    margin-left: 40px;
  }
  body #event .inner div.right .wrap article {
    width: 200px;
    margin-right: 10px;
  }
  body #event .inner div.right .wrap article a .imgEvent {
    height: 200px;
  }
  body #event .inner div.right .wrap article a .imgEvent span {
    font-size: 25px;
    top: -40px;
  }
  body #event .inner div.right .wrap article a .txtEvent {
    padding: 20px 10px;
  }
  body #event .inner div.right .wrap article a .txtEvent h3 {
    margin-bottom: 10px;
    font-size: 15px;
  }
  body #event .inner div.right .wrap article a .txtEvent p {
    font-size: 12px;
  }
  body #banner {
    padding: 100px 0px;
    margin: 0px 0px;
  }
  body #banner .inner {
    width: 100%;
  }
  body #banner .inner .wrap {
    padding: 70px 50px 70px 60px;
  }
  body #banner .inner .wrap h2 {
    font-size: 25px;
  }
  body #banner .inner .wrap p {
    font: normal 14px/1.4 "Josefin Sans";
  }
  body #accommodation {
    padding: 130px 0;
  }
  body #accommodation .inner {
    width: 100%;
    padding: 0% 10%;
  }
  body #accommodation .inner h2 {
    font-size: 25px;
  }
  body #accommodation .inner .wrap article:nth-of-type(2) h3, body #accommodation .inner .wrap article:nth-of-type(3) h3, body #accommodation .inner .wrap article:nth-of-type(4) h3 {
    padding: 20px 20px;
    font-size: 20px;
  }
  body #accommodation .inner .wrap article:nth-of-type(1) {
    width: 32%;
    height: 550px;
    padding: 80px 50px 60px;
  }
  body #accommodation .inner .wrap article:nth-of-type(1) h3 {
    font-size: 20px;
  }
  body #accommodation .inner .wrap article:nth-of-type(1) p {
    font-size: 14px;
  }
  body #accommodation .inner .wrap article:nth-of-type(1) a {
    height: 30px;
    font: bold 16px/30px "Josefin Sans";
  }
  body #accommodation .inner .wrap article:nth-of-type(1) a::before {
    height: 30px;
  }
  body #accommodation .inner .wrap article:nth-of-type(2) {
    width: calc(100% - (32% + 20px));
    height: 170px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  body #accommodation .inner .wrap article:nth-of-type(3) {
    width: calc(100% - (32% + 20px));
    height: 170px;
    margin-bottom: 20px;
  }
  body #accommodation .inner .wrap article:nth-of-type(4) {
    width: calc(100% - (32% + 20px));
    height: 170px;
    margin-top: 0px;
  }
  body #deals .inner {
    width: 100%;
    padding: 0% 10%;
  }
  body #deals .inner div:nth-of-type(1) {
    width: 33.33%;
    padding: 80px 80px 0px;
  }
  body #deals .inner div:nth-of-type(2) {
    width: 66.67%;
  }
  body #deals .inner div:nth-of-type(2) article {
    width: 46%;
  }
  body #deals .inner div:nth-of-type(2) article h3 {
    font-size: 1.4vw;
  }
  body #deals .inner div:nth-of-type(2) article p {
    font-size: 1.1vw;
  }
  body #deals .inner div:nth-of-type(2) article span {
    font-size: 12px;
  }
  body #deals .inner div:nth-of-type(2) article:nth-of-type(1) {
    margin-right: 0;
    padding-right: 0;
  }
  body #footer {
    padding: 60px 0px;
  }
  body #footer .inner {
    width: 100%;
    padding: 0% 10%;
  }
  body #footer .inner .footNavWrap h1 {
    margin-right: 60px;
  }
  body #footer .inner .footNavWrap nav {
    width: 60%;
  }
  body #footer .inner .footNavWrap nav div {
    width: 25%;
  }
  body #footer .inner .footNavWrap nav div:nth-of-type(2) {
    padding-left: 10px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 1079px) {
  body #header .inner .menuWeb {
    display: none;
  }
  body #header .inner .btnMenu {
    display: block;
  }
  body #header .inner .menuMo {
    display: block;
  }
  body #visual .inner h2 {
    font: normal 50px/1 "Josefin Sans";
    padding: 0px 120px 100px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  }
  body #visual .inner p {
    display: none;
  }
  body #visual .inner a {
    height: 50px;
    font: bold 20px/50px "Josefin Sans";
  }
  body #visual .inner a::before {
    height: 50px;
  }
  body #event {
    padding: 0px 0px 100px;
  }
  body #event .inner {
    display: block;
  }
  body #event .inner div.left {
    width: 100%;
    text-align: center;
    position: relative;
  }
  body #event .inner div.left h2 {
    margin-bottom: 0px;
  }
  body #event .inner div.left p {
    display: none;
  }
  body #event .inner div.left a {
    display: none;
  }
  body #event .inner div.right {
    width: 100%;
  }
  body #event .inner div.right > p {
    opacity: 0;
    padding: 0px;
  }
  body #event .inner div.right .wrap {
    margin-left: 0px;
    width: 100%;
  }
  body #event .inner div.right .wrap article {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 3vh;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  }
  body #event .inner div.right .wrap article:nth-of-type(even) {
    margin-right: 0%;
  }
  body #event .inner div.right .wrap article a .txtEvent h3 {
    margin-bottom: 0px;
  }
  body #event .inner div.right .wrap article a .txtEvent p {
    display: none;
  }
  body #banner {
    padding: 0px 0px;
    background-size: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
