.community {
	.visualSub {
		height: 60vh;

		img {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0.4;
			object-fit: cover;
			object-position: center 45%;
		}
	}
	.inner {
		h2 {
			top: -250px;
		}

		section {
			width: 100%;
			position: relative;
			height: 100%;
			margin-bottom: 100px;

			h3 {
				font-size: 30px;
				margin-bottom: 40px;
			}

			// section 1
			&:nth-of-type(1) {
				width: 100%;
				height: 100%;
				position: relative;
				margin-bottom: 130px;

				article {
					width: 100%;
					position: relative;

					&:nth-of-type(1) {
						width: 100%;
						height: 600px;
						// display: flex;
						// justify-content: space-between;

						h3 {
							width: 70%;
							height: 100%;
							position: absolute;
							top: 25%;
							left: 10vw;
							font: normal 80px/1 'Josefin Sans', sans-serif;
							color: #b3e6ec;
							z-index: 1;
							span {
								color: #04adbf;
								padding-left: 5vw;
							}
						}
						div {
							width: 30%;
							height: 100%;
							position: absolute;
							top: 0;
							right: 0;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
								object-position: 70% center;
							}
						}
					}
					&:nth-of-type(2) {
						width: 100%;
						height: 400px;

						p {
							width: 28%;
							height: 100%;
							position: absolute;
							top: -15%;
							left: 10vw;
							font: normal 16px/1.4 'Josefin Sans';
							padding: 0 2vw;
							text-align: center;
						}

						div {
							width: 25%;
							height: 100%;
							position: absolute;
							top: -15%;
							left: 43%;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
								object-position: 50% center;
							}
						}
					}
				}
			}

			// section 2
			&:nth-of-type(2) {
				width: 100%;
				position: relative;
				padding: 0px 3vw;
				margin-bottom: 150px;

				h3 {
					font-size: 30px;
					// text-align: center;
					// padding-bottom: 40px;
					margin-bottom: 20px;
				}

				> ul {
					width: 100%;
					position: relative;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					li {
						width: 15%;
						a {
							width: 100%;
							display: block;
							font-size: 14px;
							color: #777;
							background: #eee;
							text-align: center;
							padding: 10px 10px;
						}
						&.on a {
							font-weight: bold;
							color: #fff;
							background: #04adbf;
						}
					}
				}

				table {
					width: 100%;
					height: 100%;
					position: relative;
					border-top: 3px solid #04adbf;
					margin-bottom: 20px;

					tbody {
						width: 100%;
						height: 100%;
						position: relative;
						display: none;

						&.on {
							display: block;
						}

						tr {
							td {
								width: 1180px;
								padding: 20px 40px;
								border-bottom: 1px solid #b3e6ec;
								font-size: 16px;

								&:nth-of-type(1) {
									width: 10%;
									color: #04adbf;
								}
								&:nth-of-type(2) {
									width: 20%;
									color: #555;
								}
								&:nth-of-type(3) {
									// width: 70%;
									a {
										display: block;
										width: 100%;
										color: #0d0d0d;
									}
								}
							}
						}
					}
				}

				.pagination {
					width: 100%;
					text-align: center;

					.numbers {
						display: inline-block;
						a {
							display: inline-block;
							width: 30px;
							height: 30px;
							line-height: 30px;
							font-size: 16px;
							color: #777;
							margin: 0 5px;

							&.on {
								font-weight: bold;
								color: #04adbf;
							}
						}
					}

					.next,
					.nextEnd {
						display: inline-block;
						width: 30px;
						height: 30px;
						line-height: 30px;
						font-size: 16px;
						color: #777;
						border: 1px solid #eee;
					}
				}
			}

			// section 3
			&:nth-of-type(3) {
				width: 100%;
				height: 100%;
				position: relative;

				article {
					border: 1px solid #f5f5f5;
					width: 100%;
					height: 200px;
					position: relative;
					display: flex;
					justify-content: space-between;
					margin-bottom: 40px;

					// div 1
					div:nth-of-type(1) {
						width: 10%;
						height: 100%;
						position: relative;
						img {
							width: 100%;
							height: 100%;
							position: relative;
							top: 0;
							left: 0;
							object-fit: cover;
						}
					}

					// div 2
					div:nth-of-type(2) {
						width: 90%;
						height: 100%;
						position: relative;
						padding: 2vw 4vw;

						span {
							display: block;
							font-size: 16px;
							// padding: 10px;
							margin-bottom: 20px;
							color: #777;
							b {
								border: 1px solid #04adbf;
								border-radius: 4px;
								color: #04adbf;
								padding: 3px;
							}
						}

						h4 {
							font-size: 25px;
							color: #333;
							margin-bottom: 20px;
						}
						p {
							color: #555;
							line-height: 1.4;
						}
					}

					// article 1
					&:nth-of-type(1) {
						div:nth-of-type(1) {
							img {
								object-position: 50% center;
							}
						}
					}

					&:nth-of-type(2) {
						div:nth-of-type(1) {
							img {
								object-position: 70% center;
							}
						}
					}

					&:nth-of-type(3) {
						div:nth-of-type(1) {
							img {
								object-position: 10% center;
							}
						}
					}

					&:nth-of-type(4) {
						div:nth-of-type(1) {
							img {
								object-position: 40% center;
							}
						}
					}

					&:nth-of-type(5) {
						div:nth-of-type(1) {
							img {
								object-position: 40% center;
							}
						}
					}

					&:nth-of-type(6) {
						div:nth-of-type(1) {
							img {
								object-position: 50% center;
							}
						}
					}
				}
			}
		}
	}
}
