.member {
	.visualSub {
		height: 40vh;
		img {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0.6;
			object-fit: cover;
			object-position: center 20%;
		}
	}

	.inner {
		h2 {
			top: -150px;
		}

		width: 100%;
		h3 {
			font-size: 30px;
			text-align: center;
			margin-bottom: 40px;
		}

		section {
			position: relative;
			width: 100%;

			// section 1
			&:nth-of-type(1) {
				border: 1px solid #f5f5f5;
				border-top: 3px solid #b3e6ec;
				margin-bottom: 150px;
				width: 100%;
				height: 400px;
				position: relative;
				article {
					width: 100%;
					height: 100%;
					div:nth-of-type(1) {
						width: 40%;
						height: 100%;
						position: absolute;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							object-position: left 50%;
						}
					}
					div:nth-of-type(2) {
						width: 65%;
						height: 50%;
						position: absolute;
						top: 15%;
						right: 0%;
						padding: 1vw 6vw 1vw 1vw;

						span {
							position: absolute;
							top: -40px;
							left: 120px;
							font-size: 100px;
							color: #b3e6ec;
							z-index: -1;
						}

						h3 {
							font-size: 30px;
							line-height: 1.2;
							margin-bottom: 20px;
						}
						p {
							font-size: 16px;
							color: #555;
							line-height: 1.4;
							padding-right: 10vw;
							margin-bottom: 40px;
						}
						a {
							display: block;
							position: relative;
							width: 200px;
							height: 40px;
							font: bold 16px/40px 'Josefin Sans', sans-serif;
							color: #0d0d0d;
							margin: 0 auto;
							text-align: center;
							transition: 0.3s;
							&:hover {
								color: #fff;
							}
							&::before {
								content: '';
								display: block;
								position: absolute;
								width: 15px;
								height: 40px;
								background: #04adbf;
								transition: 0.3s;
								z-index: -1;
							}
							&:hover::before {
								background: #04adbf;
								width: 200px;
							}
						}
					}
				}
			}

			// section 2
			&:nth-of-type(2) {
				margin-bottom: 150px;
				width: 100%;
				height: 600px;
				position: relative;
				display: flex;
				justify-content: space-between;
				gap: 10px;

				article {
					width: 33.33%;
					position: relative;
					div {
						width: 100%;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}

					// article 1
					&:nth-of-type(1) {
						height: 600px;
						div:nth-of-type(1) {
							height: 395px;
							margin-bottom: 10px;
							> img {
								object-position: right 50%;
							}
						}
						div:nth-of-type(2) {
							height: 195px;
						}
					}

					// article 2
					&:nth-of-type(2) {
						height: 600px;
						div:nth-of-type(1) {
							height: 195px;
							margin-bottom: 10px;
						}
						div:nth-of-type(2) {
							height: 395px;
							> img {
								object-position: 90% 50%;
							}
						}
					}

					// article 3
					&:nth-of-type(3) {
						height: 600px;
						div:nth-of-type(1) {
							height: 395px;
							margin-bottom: 10px;
						}
						div:nth-of-type(2) {
							height: 195px;
						}
					}
				}
			}

			&:nth-of-type(3) {
				border: 1px solid #f5f5f5;
				margin-bottom: 150px;
				width: 100%;
				height: 500px;
				position: relative;
				article {
					width: 100%;
					height: 100%;

					div:nth-of-type(1) {
						width: 40%;
						height: 60%;
						position: absolute;
						top: 0;
						left: 0;
						background: #fff;
						padding: 4.1vw 2vw;
						z-index: 1;

						span {
							position: absolute;
							top: 15px;
							left: 130px;
							font-size: 100px;
							color: #b3e6ec;
							z-index: -1;
						}
						h3 {
							font-size: 30px;
							line-height: 1.2;
							margin-bottom: 20px;
						}
						p {
							font-size: 16px;
							color: #555;
							line-height: 1.4;
							margin-bottom: 40px;
						}
						a {
							display: block;
							position: relative;
							font-size: 18px;
							color: #0d0d0d;
							transition: 0.3s;

							i {
								font-size: 18px;
								position: relative;
								transform: scale(1);
								right: 0%;
							}
							&:hover {
								color: #04adbf;
								i {
									color: #04adbf;
									transform: scale(1.2);
									animation: mapAni 0.3s;
								}
							}
						}
					}

					div:nth-of-type(2) {
						width: 70%;
						height: 100%;
						position: absolute;
						top: 0;
						right: 0;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}

			&:nth-of-type(4) {
				border: 1px solid #f5f5f5;
				margin-bottom: 100px;
				width: 100%;
				height: 400px;
				position: relative;
				display: flex;
				justify-content: space-between;

				div:nth-of-type(1) {
					width: 40%;
					height: 100%;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				div:nth-of-type(2) {
					width: 60%;
					height: 100%;
					padding: 2vw 4vw;

					span {
						position: absolute;
						top: 10px;
						right: 100px;
						font-size: 100px;
						color: #b3e6ec;
						z-index: -1;
					}
					h3 {
						font-size: 30px;
						margin-bottom: 20px;
					}
					div {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: space-between;
						p {
							width: 44%;
							font-size: 16px;
							color: #555;
							line-height: 1.4;
						}
					}
				}
			}
		}
	}
}

@keyframes mapAni {
	0% {
		right: 0%;
		opacity: 1;
	}
	100% {
		right: -5%;
		opacity: 0;
	}
}
