body {
	// header sub
	#headerSub {
		width: 100%;
		height: 100px;
		position: relative;
		background: linear-gradient(0deg, rgba(51, 51, 51, 0.05), rgba(51, 51, 51, 1));
		z-index: 10;

		.inner {
			width: 1180px;
			height: 100px;
			margin: 0 auto;
			position: relative;
			z-index: 10;
			> h1 {
				position: absolute;
				width: 140px;
				left: 0;
				bottom: 10px;
				> a {
					display: block;
					width: 100%;
					height: 70px;
					img {
						width: 70px;
						height: 70px;
						float: left;
						margin-right: 10px;
						filter: invert(100%);
					}
					span {
						display: inline-block;
						font-size: 18px;
						position: absolute;
						top: 35px;
						color: #fff;
					}
				}
			}
			.menuWeb {
				#gnb {
					position: absolute;
					right: 0;
					bottom: 18px;
					li {
						float: left;
						a {
							display: block;
							padding: 12px 30px;
							font: bold 18px/1 'Josefin Sans', sans-serif;
							color: #fff;
							text-shadow: 0px 0px 10px #000;
						}
						&::after {
							content: '';
							display: block;
							margin: 0 auto;
							width: 0%;
							height: 2px;
							background: #fff;
							transition: 0.3s;
						}
						&:hover::after {
							width: 70%;
						}
					}
				}
			}

			// 모바일 메뉴
			// 디자인 참고 사이트주소 : https://webclub.tistory.com/448
			.btnMenu {
				display: none;
				width: 40px;
				height: 30px;
				position: absolute;
				top: 45%;
				right: 5%;
				&.on {
					&::before {
						top: 50%;
						margin-top: -2px;
						transform: rotate(45deg);
						// transition: top 0.5s 0.5s transform 0.5s 0s;
					}
					&::after {
						bottom: 50%;
						margin-bottom: -2px;
						transform: rotate(-45deg);
					}
					span {
						// transform: translateZ(-100%);
						opacity: 0;
					}
				}
				&::before,
				&::after {
					content: '';
					display: block;
					width: 100%;
					height: 4px;
					background: #fff;
					position: absolute;
					left: 0;
					border-radius: 4px;
				}
				// 라인이 하나로 합쳐져, x자 그리기
				&::before {
					top: 0;
					// transform: rotate(0deg);
					transition: top 0.5s;
					transition: top 0.5s 0s, transform 0.5s 0.5s;
				}
				&::after {
					bottom: 0;
					transition: bottom 0.5s 0s, transform 0.5s 0.5s;
				}
				span {
					display: block;
					width: 100%;
					height: 4px;
					background: #fff;
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -2px;
					text-indent: -99999px;
					border-radius: 4px;
					// transform: translateZ(100%);
					transition: all 0.5s;
				}
			}
			.menuMo {
				display: none;
				position: fixed;
				top: 0;
				width: 270px;
				height: 100vh;
				background: #b3e6ec;
				padding: 0 2vh;
				left: -270px;
				transition: 0.5s;
				&.on {
					left: 0px;
				}
				> h1 {
					position: relative;
					width: 100%;
					height: 100px;
					padding-top: 20px;
					padding-left: 50px;
					margin-bottom: 25px;
					> a {
						display: block;
						position: relative;
						width: 100%;
						height: 100%;
						img {
							width: 70px;
							height: 70px;
							float: left;
							margin-right: 10px;
						}
						span {
							display: inline-block;
							font-size: 18px;
							line-height: 1;
							position: absolute;
							top: 35px;
							color: #0d0d0d;
						}
					}
				}
				#gnbMo {
					position: relative;
					li {
						border-bottom: 1px solid #04adbf;
						a {
							display: block;
							width: 100%;
							padding: 3vh 0 2vh;
							text-align: center;
							font-size: 18px;
							font-weight: bold;
							line-height: 1;
							color: #0d0d0d;
							b {
								float: right;
								padding-right: 1vw;
							}
						}
					}
				}
			}
		}
	}

	// content sub
	.content {
		width: 100%;
		position: relative;
		top: -100px;

		.visualSub {
			top: 0;
			left: 0;
			width: 100%;
			background: #000;
		}

		.inner {
			position: relative;
			width: 1180px;
			margin: 0 auto;
			min-height: 500px;
			padding: 100px 0px 0px;
			h2 {
				position: absolute;
				font: bold 40px/1 'Josefin Sans', sans-serif;
				color: #fff;
				margin-bottom: 60px;
				// top: -250px;
				width: 100%;
				text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.8);
				letter-spacing: 1px;
				opacity: 0;
				transition: 0.5s;
				transform: translateX(-5%);

				&.on {
					opacity: 1;
					transform: translateX(0%);
				}
			}
		}
	}

	// footer sub
	#footerSub {
		width: 100%;
		position: relative;
		background: #04adbf;
		padding: 100px 0;
		.inner {
			width: 1180px;
			margin: 0 auto;
			position: relative;
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			.footNavWrap {
				position: relative;
				display: flex;
				justify-content: space-between;
				h1 {
					width: 140px;
					height: 70px;
					margin-right: 80px;
					a {
						display: block;
						width: 100%;
						height: 100%;
						img {
							width: 70px;
							height: 100%;
							float: left;
							margin-right: 10px;
							filter: invert(100%);
						}
						span {
							display: inline-block;
							font-size: 18px;
							position: absolute;
							top: 35px;
							color: #fff;
						}
					}
				}
				nav {
					width: 67%;
					display: flex;
					justify-content: space-between;
					padding: 20px 0;
					color: #fff;
					div {
						width: 33.33%;
						h4 {
							font-size: 14px;
							margin-bottom: 20px;
						}
						&:nth-of-type(1) {
							span {
								margin-right: 10px;
								display: inline-block;
								margin-bottom: 3px;
								font-size: 12px;
								&:nth-of-type(1) {
									font-size: 20px;
									font-weight: bold;
									margin-bottom: 14px;
								}
							}
							> p {
								margin-top: 20px;
								font-size: 12px;
								padding-right: 30px;
								color: #eee;
							}
						}
						&:nth-of-type(2),
						&:nth-of-type(3) {
							ul {
								width: 100%;
								padding: 0;
								li {
									width: 100%;
									margin-left: 0;
									a {
										display: block;
										font-size: 14px;
										color: #fff;
										margin-bottom: 10px;
									}
								}
							}
						}
						&:nth-of-type(2) {
							padding-left: 50px;
							margin-right: 20px;
						}
					}
				}

				> ul {
					padding: 15px 0px;
					li {
						float: left;
						margin-left: 20px;
						a {
							font-size: 25px;
							color: #fff;
						}
					}
				}
			}

			.footAddWrap {
				width: 80%;
				margin: 0 auto;
				position: relative;
				address {
					position: relative;
					margin: 0 auto;
					padding: 30px 0 10px;
					font-size: 14px;
					letter-spacing: 1px;
					color: #eee;
					text-align: center;
					&::after {
						content: '';
						display: block;
						position: absolute;
						margin: 10px auto;
						top: 0;
						left: 0;
						width: 100%;
						height: 0.5px;
						background: #fff;
					}
				}
				> p {
					float: left;
					width: 100%;
					font-size: 12px;
					line-height: 1.4;
					font-family: 'arial';
					color: #fff;
					letter-spacing: 1px;
					text-align: center;
				}
			}
		}
	}
}

// media 1179px
@media screen and (max-width: $tablet) {
	body {
		// 1179px
		#headerSub {
			.inner {
				width: 100%;
				> h1 {
					left: 50px;
				}
				.menuWeb {
					#gnb {
						right: 2%;
						li {
							a {
								font: bold 15px/1 'Josefin Sans', sans-serif;
								text-shadow: 0px 0px 5px #000;
							}
						}
					}
				}
			}
		}
		// 1179px
		.content {
			.inner {
				width: 100%;
				h2 {
					font: bold 35px/1 'Josefin Sans', sans-serif;
				}
			}
		}
		// 1179px
		#footerSub {
			padding: 60px 0px;
			.inner {
				width: 100%;
				padding: 0% 10%;
				.footNavWrap {
					h1 {
						margin-right: 60px;
					}
					nav {
						width: 50%;
						div {
							width: 25%;
							&:nth-of-type(2) {
								padding-left: 10px;
								margin-right: 0px;
							}
						}
					}
				}
			}
		}
	}
}

// media 1079px
@media screen and (max-width: $tablet2) {
	body {
		// 1079px
		#headerSub {
			.inner {
				.menuWeb {
					display: none;
				}
				.btnMenu {
					display: block;
				}
				.menuMo {
					display: block;
				}
			}
		}
		// 1079px
		.content {
			.inner {
				h2 {
					font: bold 30px/1.6 'Josefin Sans', sans-serif;
					padding: 0px 120px 100px;
				}
			}
		}
		// 1079px
		#footerSub {
			.inner {
				.footNavWrap {
					display: block;
					h1 {
						margin: 0 auto;
					}
					nav {
						width: 100%;
						padding: 20px 0px 0px;
						div {
							width: 100%;
							h4 {
								text-align: center;
							}
							&:nth-of-type(1) {
								span {
									width: 100%;
									margin-right: 0px;
									text-align: center;
									&:nth-of-type(2) {
										display: none;
									}
									&:nth-of-type(3) {
										display: none;
									}
								}
								> p {
									display: none;
								}
							}
							&:nth-of-type(2),
							&:nth-of-type(3) {
								display: none;
							}
						}
					}
					> ul {
						padding: 0px 0px 15px;
						position: relative;
						display: flex;
						justify-content: center;
						li {
							&:nth-of-type(1) {
								margin-left: 0px;
							}
						}
					}
				}
			}
		}
	}
}
