.things {
	> .inner {
		section {
			width: 100%;
			position: relative;
			float: left;
			/*
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			을 주면 inner의 서브클래서 wrap도 불필요한데,
			코딩이 적요이 안되어 일단 주석처리 했습니다
			*/
			> article {
				width: 25%;
				padding: 10px;
				float: left;
				div {
					width: 100%;
					background: #fff;
					box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
					padding: 20px;
					border-radius: 4px;

					img {
						width: 100%;
						margin-bottom: 15px;
					}
					h3 {
						font-size: 16px;
						line-height: 1;
						font-weight: bold;
						margin-bottom: 10px;
						text-align: center;
					}
					p {
						font-size: 12px;
						line-height: 1.4;
						font-family: 'arial', sans-serif;
						color: #777;
						margin-bottom: 15px;
						text-align: center;
					}
				}
			}
		}
	}
}
