// #04ADBF
// #b3e6ec
// #F2E30F
// #F22727
.things {
	.visualSub {
		height: 40vh;
		img {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.4;
			object-fit: cover;
			object-position: right 28%;
			filter: saturate(120%) contrast(80%) brightness(110%);
		}
	}
	.inner {
		h2 {
			top: -150px;
		}

		main {
			width: 100%;
			// things top
			.thingsTop {
				background: #b3e6ec;
				position: relative;
				width: 100%;
				padding: 8vh 0;
				top: -100px;

				> div {
					position: relative;
					&:nth-of-type(1) {
						background: #fff;
						padding: 3vw;
						width: 40%;
						top: 35%;
						left: 10%;
						box-shadow: 0px 0px 10px rgba(13, 13, 13, 0.2);

						position: absolute;
						z-index: 1;

						&::after {
							content: '';
							display: block;
							background: #04adbf;
							width: 40%;
							height: 10px;
							position: absolute;
							left: 90%;
							top: 50%;
							box-shadow: 0px 0px 80px rgba(13, 13, 13, 0.4);
							z-index: 2;
						}

						h3 {
							font-size: 30px;
							margin-bottom: 10px;
						}
						p {
							font-size: 16px;
							line-height: 1.4;
						}
					}
					&:nth-of-type(2) {
						width: 80%;
						float: right;
						img {
							width: 100%;
							height: 500px;
							object-fit: cover;
							list-style-position: center bottom;
						}
					}
				}
			}

			// things txt
			.thingsTxt {
				position: relative;
				width: 100%;
				padding: 200px 0 200px;
				top: -100px;
				text-align: right;
				.thingsBg {
					position: absolute;
					width: 30%;
					height: 100%;
					top: 0;
					left: 20%;
					background: #b3e6ec;
					z-index: -1;
				}

				> span {
					font-size: 80px;
					font-weight: bold;
					color: #04adbf;
					display: block;
					float: right;
					padding-left: 25vw;
					margin-bottom: 20px;
					line-height: 1.1;
					letter-spacing: -2px;
					text-shadow: -5px 0px 3px rgba(0, 0, 0, 0.1);
				}
				p {
					width: 100%;
					font-family: 'arial';
					color: #555;
					float: right;
					padding-left: 25vw;
					line-height: 1.4;
					letter-spacing: 1px;
					text-shadow: -3px 0px 3px rgba(0, 0, 0, 0.1);
				}
			}

			.thingsBottom {
				width: 100%;
				margin-top: -100px;
				margin-bottom: 80px;
				padding: 100px 0;
				position: relative;
				background: #eee;

				article {
					width: 80%;
					position: relative;
					margin-bottom: 40px;

					div {
						position: absolute;
						top: 50%;
						width: 20vw;
						height: 200px;
						background: #fff;
						margin-top: -100px;
						padding: 85px 40px;
						display: flex;
						justify-content: flex-end;
						cursor: pointer;
						> h3 {
							font-size: 30px;
							display: inline-block;
							margin-right: 30px;
							transition: 0.3s;
						}
						> i {
							display: inline-block;
							font-size: 20px;
							line-height: 30px;
							position: relative;
							right: 0%;
							transform: scale(1);
						}
						&:hover {
							h3 {
								color: #04adbf;
							}
							i {
								color: #04adbf;
								transform: scale(1.2);
								animation: thingsAni 0.3s;
							}
						}
					}
				}
			}

			// assorted button box
			> h3 {
				font-size: 30px;
				position: relative;
				margin-bottom: 2vh;
				text-align: center;
				padding-top: 80px;
			}
			ul {
				// border: 1px solid red;
				position: relative;
				width: 100%;
				display: flex;
				justify-content: flex-end;
				padding: 2vh 0;
				gap: 20px;

				li {
					width: 10%;
					height: 28px;
					text-align: center;
					a {
						display: block;
						width: 100%;
						height: 100%;
						font-size: 14px;
						line-height: 28px;
						color: #777;
						background: #eee;
						box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
					}
					&.on a {
						font-weight: bold;
						color: #fff;
						background: #04adbf;
						box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
					}
					&:hover a {
						font-weight: bold;
					}
				}
			}
			// loading
			.loading {
				width: 100px;
				position: absolute;
				top: 5%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: opacity 0.5s;
				opacity: 1;
				&.off {
					opacity: 0;
				}
			}

			.isoWrap {
				// border: 1px solid orange;
				width: 100%;
				// float: left;
				position: relative;

				// 전환효과
				opacity: 0;
				transform: translateY(100px);
				transition: 1s;
				&.on {
					opacity: 1;
					transform: translateY(0px);
				}

				// 20 things images
				article {
					width: 25%;
					padding: 10px;
					float: left;
					&:hover {
						span {
							color: #b3e6ec;
						}
						p {
							&::after {
								width: 100%;
								height: 3px;
							}
						}
						a {
							color: #04adbf;
							i {
								transform: scale(1.2);
								animation: thingsAni 0.3s;
							}
						}
					}
					div {
						position: relative;
						width: 100%;
						background: #fff;
						box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
						padding: 20px;
						border-radius: 4px;

						span {
							font-size: 100px;
							font-weight: bold;
							color: rgba(179, 230, 236, 0.4);
							transition: 0.3s;
						}
						h4 {
							position: relative;
							top: -55px;
							font-size: 18px;
							line-height: 1.4;
							font-weight: bold;
							margin-bottom: 10px;
						}
						p {
							position: relative;
							top: -40px;
							font-size: 12px;
							line-height: 1.4;
							font-family: 'arial', sans-serif;
							color: #777;
							margin-bottom: 15px;
							&::after {
								content: '';
								display: block;
								width: 20%;
								height: 1px;
								position: relative;
								top: 20px;
								background: #04adbf;
								transition: 0.3s;
							}
						}
						img {
							width: 100%;
							margin-bottom: 15px;
						}
						a {
							display: block;
							color: #0d0d0d;
							i {
								position: relative;
								right: 0%;
							}
						}
					}
				}
			}
		}
	}
}

@keyframes thingsAni {
	0% {
		right: 0%;
		opacity: 1;
	}
	100% {
		right: -8%;
		opacity: 0;
	}
}

// media 1179px
@media screen and (max-width: $tablet) {
	.things {
		.inner {
			main {
				.isoWrap {
					width: 80vw;
					margin: 0 10vw;
					article {
						width: 33.33%;
					}
				}
			}
		}
	}
}

// media 767px
@media screen and (max-width: 767px) {
	.things {
		.inner {
			main {
				.isoWrap {
					article {
						width: 50%;
					}
				}
			}
		}
	}
}

// media 539px
@media screen and (max-width: $mobile) {
	.things {
		.inner {
			main {
				.isoWrap {
					article {
						width: 100%;
					}
				}
			}
		}
	}
}
