@charset 'utf-8';
@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500&display=swap');
// #04ADBF


body {
    background: #fefefe;

    // header menu etc
    #header{
        width: 100%;
        border-bottom: 1px solid #ddd;

        // 모든 inner 한번에 설정하고 싶음
        .inner{
            width: 1180px;
            height: 120px;
            margin: 0 auto;
            position: relative;
            z-index: 10;
            >h1{
                position: absolute;
                left: 0;
                bottom: 10px;
                >a{
                    display: block;
                    width: 100%;
                    height: 70px;
                    img{
                        width: 70px;
                        height: 70px;
                        float: left;
                        margin-right: 10px;
                    }
                    span{
                        display: inline-block;
                        position: relative;
                        width: 130px;
                        height: 40px;
                        font-size: 16px;
                        font-weight: 300;
                        color: #888;
                        padding-top: 35px;
                    }
                }
            }
            .menuWeb{
                #gnb{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    li{
                        float: left;
                        a{
                            display: block;
                            padding: 14px 40px;
                            font-size: 18px;
                            font-weight: bold;
                            color: #555;
                            &:hover{
                                background-color: #555;
                                color: #fff;
                            }
                        }
                    }
                }
                .util{
                    position: absolute;
                    top: 20%;
                    right: 40px;
                    li{
                        float: left;
                        margin-left: 20px;
                        a{
                            font: 12px/1 'arial';
                            color: #999;
                        }
                    }
                }
            }
        }
    }

    // figure visual
    #visual{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 121px);
        background: #000;
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            // 비디오 윗부분을 더 보이게 위치하고 싶어요
            opacity: 0.4;
        }
        .inner{
            width: 1180px;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h2{
                font-size: 100px;
                font-weight: normal;
                line-height: 1;
                color: #fff;
                margin-bottom: 20px;
            }
            p{
                font-size: 16px;
                font-family: 'arial';
                font-weight: normal;
                color: #888;
                margin-bottom: 80px;
            }
            a{
                display: block;
                width: 400px;
                height: 40px;
                border: 1px solid #bbb;
                font-weight: bold;
                font-size: 18px;
                line-height: 40px;
                color: #fff;
                text-align: center;
                &:hover{
                    background-color: #fff;
                    color: #555;
                }
            }
        }
    }

    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 50vw;
        height: 800px;
        top: 100vh;
        right: 0;
        background: #04ADBF;
        z-index: -10;
    }

    // event
    #event{
        width: 100%;
        padding: 120px 0;
        .inner{
            width: 1180px;
            margin: 0 auto;
            position: relative;
            display: flex;
            justify-content: space-between;
            div{
                &.left{
                    width: 35%;
                    h3{margin-bottom: 40px;}
                    h2{
                        margin-bottom: 60px;
                    }
                    p{
                        margin-bottom: 40px;
                    }
                    a{
                        display: block;
                        float: left;
                        width: 100px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        &.btnPrev{
                            margin-right: 2vw;
                        }
                    }
                }
                &.right{
                    border: 1px solid green;
                    width: 68%;
                    h3{
                        span{
                            display: block;
                            margin-bottom: 40px;
                        }
                    }
                    article{
                        border: 1px solid red;
                        width: 300px;
                        margin-right: 20px;
                        float: left;
                        a{
                            display: block;
                            img{
                                width: 100%;
                                height: 250px;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
            
        }
    }
}